/* src/App.css */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 250px;
    background-color: #343a40;
    overflow-x: hidden;
}
/* 
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        display: none;
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.d-block {
        display: block;
        transform: translateX(0);
    }

    .sidebar.d-none {
        transform: translateX(-100%);
    }
} */

